@import "./../../../../../../assets/scss/custom";

.todoListItem {
  &:not(:last-child) {
    border-bottom-width: toREM(1);
  }
}

ul.cdk-drop-list-dragging .todoListItem:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  border-width: 1px;
}
