@import "./assets/scss/custom";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-size: 16px; */
  /* @media (min-width: 900px) {
    font-size: toVW(16);
  }
  @media (min-width: 1080px) {
    font-size: 16px;
  } */
  overflow-y: scroll;
  height: 100%;
}

body {
  position: relative;
  @apply bg-black text-white;

  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

// -------------
// FORMS
// -------------
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  &.ng-touched.ng-invalid {
    @apply border-b-tertiary;
  }
}

// -------------
// GENERAL
// -------------

* {
  @apply outline-1 outline-secondary;
  &.ng-invalid.ng-dirty {
    @apply outline-tertiary;
  }
}

// -------------
// ANGULAR MATERIAL
// -------------
mat-progress-spinner circle,
mat-spinner circle {
  @apply stroke-secondary;
}

// -------------
// MARKDOWN
// -------------

markdown {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }

  strong {
    @apply font-bold text-secondary;
  }

  ul {
    margin-left: 10px;
  }

  li {
    list-style: disc;
  }
}
