<section app-container>
  <h1 class="text-4xl uppercase font-bold">Sign Up</h1>

  <form class="mt-4 grid gap-5" [formGroup]="form" (ngSubmit)="submit()">
    <div class="grid gap-4">
      <label for="email">Email</label>
      <input class="bg-transparent border-b border-white text-white py-3 px-3" type="email" name="email" id="email" formControlName="email" />
      <!-- VALIDATIONS -->
      <div *ngIf="fh.isInputInvalid(form, 'email')" class="text-secondary">
        <div *ngIf="fh.hasError(form, 'email', 'required')">Email is required.</div>
        <div *ngIf="fh.hasError(form, 'email', 'email')">Invalid email format</div>
      </div>
    </div>
    <div class="grid gap-4">
      <label for="password">Password</label>
      <input class="bg-transparent border-b border-white text-white py-3 px-3" type="password" name="password" id="password" formControlName="password" />
      <!-- VALIDATIONS -->
      <div *ngIf="fh.isInputInvalid(form, 'password')" class="text-secondary">
        <div *ngIf="fh.hasError(form, 'password', 'required')">Password is required.</div>
        <div *ngIf="fh.hasError(form, 'password', 'minlength')">Min length is {{form.get('password')?.errors?.['minlength']?.requiredLength??'6'}}.</div>
      </div>
    </div>
    <div class="grid gap-4">
      <label for="confirmpassword">Confirm Password</label>
      <input
        class="bg-transparent border-b border-white text-white py-3 px-3"
        [ngClass]="{
          'border-b-secondary': fh.isInputInvalid(form, 'confirmPassword')
        }"
        type="password"
        name="confirmpassword"
        id="confirmpassword"
        formControlName="confirmPassword"
      />
      <!-- VALIDATIONS -->
      <div *ngIf="fh.isInputInvalid(form, 'confirmPassword')" class="text-secondary">
        <div *ngIf="fh.hasError(form, 'confirmPassword', 'required')">Conformation password is required.</div>
        <div *ngIf="fh.hasError(form, 'confirmPassword', 'minlength')">
          Min length is {{form.get('confirmPassword')?.errors?.['minlength']?.requiredLength??'6'}}.
        </div>
      </div>
      <div *ngIf="fh.isFormInvalidAndInput(form, 'confirmPassword')" class="text-secondary">
        <div *ngIf="fh.hasFormError(form, 'confirmPassword')">Confirmation password does not match.</div>
      </div>
    </div>

    <div>
      <button
        type="submit"
        class="inline-block mt-4 px-4 py-2 uppercase font-bold border rounded"
        [ngClass]="{
        'text-gray-400 border-gray-500': form.invalid,
      }"
      >
        Create Account
      </button>
    </div>
  </form>
</section>
