<div
  [ngClass]="{
    'pt-0': paddingT == '0',
    'pt-1': paddingT == '1',
    'pt-2': paddingT == '2',
    'pt-3': paddingT == '3',
    'pt-4': paddingT == '4',
    'pt-5': paddingT == '5',
    'pt-6': paddingT == '6',
    'pt-7': paddingT == '7',
    'pt-8': paddingT == '8',
    'pt-9': paddingT == '9',
    'pt-10': paddingT == '10',
    'pt-11': paddingT == '11',
    'pt-12': paddingT == '12',
    'pt-14': paddingT == '14',
    'pt-16': paddingT == '16',
    'pt-20': paddingT == '20',
    'pt-24': paddingT == '24',
    'pt-28': paddingT == '28',
    'pb-0': paddingB == '0',
    'pb-1': paddingB == '1',
    'pb-2': paddingB == '2',
    'pb-3': paddingB == '3',
    'pb-4': paddingB == '4',
    'pb-5': paddingB == '5',
    'pb-6': paddingB == '6',
    'pb-7': paddingB == '7',
    'pb-8': paddingB == '8',
    'pb-9': paddingB == '9',
    'pb-10': paddingB == '10',
    'pb-11': paddingB == '11',
    'pb-12': paddingB == '12',
    'pb-14': paddingB == '14',
    'pb-16': paddingB == '16',
    'pb-20': paddingB == '20',
    'pb-24': paddingB == '124',
    'pb-28': paddingB == '16'
  }"
>
  <ng-content></ng-content>
</div>
