<ng-container *ngIf="!addMode">
  <button class="min-w-[2.25rem] w-9 h-9 block p-1 hover:bg-secondary hover:text-black rounded transition-colors" title="Add" (click)="toggleAddMode()">
    <i app-plus-icon></i>
  </button>
  <span>Add</span>
</ng-container>
<ng-container *ngIf="addMode">
  <button class="min-w-[2.25rem] w-9 h-9 block p-1 hover:bg-primary hover:text-white rounded transition-colors" title="Cancel" (click)="toggleAddMode()">
    <i class="rotate-45 inline-block" app-plus-icon></i>
  </button>
  <form class="w-full" [formGroup]="form" (ngSubmit)="submit()">
    <input class="bg-transparent border-b border-white text-white py-1 px-3 w-full" type="text" #inputNewTodo formControlName="description" />
  </form>
</ng-container>
