<section app-container>
  <h1 class="text-4xl uppercase font-bold">Sign In</h1>

  <form class="mt-4 grid gap-5" action="">
    <div class="grid gap-4">
      <label for="email">Email</label>
      <input
        class="bg-transparent border-b border-white text-white py-3 px-3"
        type="email"
      />
    </div>
    <div class="grid gap-4">
      <label for="password">Password</label>
      <input
        class="bg-transparent border-b border-white text-white py-3 px-3"
        type="password"
      />
    </div>

    <div>
      <button
        type="submit"
        class="inline-block mt-4 px-4 py-2 uppercase font-bold border rounded"
      >
        Create Account
      </button>
    </div>
  </form>
</section>
