<header class="border-b border-white py-3">
  <div app-container>
    <nav>
      <ul class="flex gap-5 uppercase font-bold">
        <li class="mr-auto">
          <a class="py-3 inline-block cursor-pointer" routerLink="/">NOTTI</a>
        </li>
        <li>
          <a class="py-3 inline-block cursor-pointer" routerLink="/">
            <span
              routerLinkActive="border-b border-b-white"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</span
            >
          </a>
        </li>
        <li>
          <ul class="flex gap-5">
            <li>
              <a class="py-3 inline-block cursor-pointer" routerLink="/sign-up">
                <span routerLinkActive="border-b border-b-white">Sign-Up</span>
              </a>
            </li>
            <li>
              <a class="py-3 inline-block cursor-pointer" routerLink="/sign-in">
                <span routerLinkActive="border-b border-b-white">Sign-In</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
