<div class="flex justify-center">
  <div
    class="w-full"
    [ngClass]="{
      'max-w-xs': maxWidth == 'xs',
      'max-w-md': maxWidth == 'md',
      'max-w-lg': maxWidth == 'lg',
      'max-w-xl': maxWidth == 'xl',
      'max-w-2xl': maxWidth == '2xl',
      'max-w-3xl': maxWidth == '3xl',
      'max-w-4xl': maxWidth == '4xl',
      'max-w-5xl': maxWidth == '5xl',
      'max-w-6xl': maxWidth == '6xl',
      'max-w-7xl': maxWidth == '7xl',
      'max-w-full': maxWidth == 'full',
      'sm:px-0': paddingX == '0',
      'sm:px-1': paddingX == '1',
      'sm:px-2': paddingX == '2',
      'sm:px-3': paddingX == '3',
      'sm:px-4': paddingX == '4',
      'sm:px-5': paddingX == '5',
      'sm:px-6': paddingX == '6',
      'sm:px-7': paddingX == '7',
      'sm:px-8': paddingX == '8',
      'sm:px-9': paddingX == '9',
      'sm:px-10': paddingX == '10',
      'sm:px-11': paddingX == '11',
      'sm:px-12': paddingX == '12',
      'sm:px-14': paddingX == '14',
      'sm:px-16': paddingX == '16',
      'px-0': paddingXMobile == '0',
      'px-1': paddingXMobile == '1',
      'px-2': paddingXMobile == '2',
      'px-3': paddingXMobile == '3',
      'px-4': paddingXMobile == '4',
      'px-5': paddingXMobile == '5',
      'px-6': paddingXMobile == '6',
      'px-7': paddingXMobile == '7',
      'px-8': paddingXMobile == '8',
      'px-9': paddingXMobile == '9',
      'px-10': paddingXMobile == '10',
      'px-11': paddingXMobile == '11',
      'px-12': paddingXMobile == '12',
      'px-14': paddingXMobile == '14',
      'px-16': paddingXMobile == '16',
    }"
  >
    <ng-content></ng-content>
  </div>
</div>
