<nav
  class="fixed w-screen -left-full top-0 -translate-x-10 sm:left-0 sm:translate-x-0 sm:relative sm:w-auto bg-black z-50"
  [ngClass]="{
  'left-0 translate-x-0': mobileMenuOpen && isMobile,
}"
>
  <ul>
    <li *ngFor="let item of groups; let i = index" class="cursor-pointer" routerLinkActive="bg-primary">
      <a class="font-bold block py-4 px-3 hover:bg-primary transition-colors" [routerLink]="['notes', i]">Hello</a>
      <a class="hidden font-bold py-4 px-3 hover:bg-primary transition-colors" tabindex="-1" [routerLink]="['todos', i]">Hello</a>
    </li>
    <li class="cursor-pointer">
      <a class="font-bold block py-4 px-3 text-gray hover:bg-gray hover:text-white transition-colors">+ New Group</a>
    </li>
  </ul>
</nav>
