<ng-container *ngIf="!addMode">
  <button class="font-bold block w-full px-5 hover:bg-gray text-gray hover:text-white transition-colors" (click)="toggleAddMode()" data-menu-groups-no-action>
    + New Group
  </button>
</ng-container>
<ng-container *ngIf="addMode">
  <div class="flex gap-5 w-full items-center px-5" data-menu-groups-no-action>
    <button class="min-w-[2.25rem] w-9 h-9 block p-1 hover:bg-tertiary hover:text-white rounded transition-colors" title="Cancel" (click)="toggleAddMode()">
      <i class="rotate-45 inline-block" app-plus-icon></i>
    </button>
    <form class="w-full mr-[7rem] sm:mr-0" [formGroup]="form" (ngSubmit)="submit()" (keydown.escape)="toggleAddMode()">
      <input class="bg-transparent border-b border-white text-white py-1 px-3 w-full" type="text" #inputNewTodo formControlName="name" />
    </form>
  </div>
</ng-container>
